.localizacao {
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    text-align: center;
  }
  
.localizacao h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}
  
.localizacao iframe {
    border-radius: 8px;
    width: 100%;
    height: 350px;
}
  
@media (max-width: 768px) {
    .localizacao {
      width: 90%;
    }
  
    .localizacao h3 {
      font-size: 20px;
    }
}
  