.notfound-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #333;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
.notfound-content {
    text-align: center;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
}
  
.notfound-title {
    font-size: 100px;
    font-weight: bold;
    color: #f44336;
    margin: 0;
    animation: fadeIn 1s ease-out;
}

.notfound-subtitle {
    font-size: 1.5rem;
    color: #333;
    margin-top: 20px;
    font-weight: 500;
    animation: fadeIn 1.5s ease-out;
}
  
.notfound-text {
    font-size: 1rem;
    color: #555;
    margin: 20px 0;
    animation: fadeIn 2s ease-out;
}

.notfound-link {
    font-size: 1.2rem;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;
    border: 2px solid #007bff;
    padding: 10px 20px;
    border-radius: 30px;
}
  
.notfound-link:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  